:root {
    --background-color: #ffffff;
    --background-search: #ffffff;
    --border-search: #606060;

    --contact-list-background: #f4f4f4;
    --contact-list-background-hover: #ec7311;
    --contact-list-text-hover: #ffffff;
    --contact-list-border-top-hover: #f8bc8b;
    --contact-list-border-bottom-hover: #b1570e;
    --contact-border-bottom: #d0d0d0;
    --contact-border-top: #ffffff;
}

span.searchBox {
    border: 0px;
    display: inline-block;
}

#resultsWrapper {
    position: absolute;
    z-index: 1000;
    max-width: 300px;
    background: white;
    margin-top: 22px;
}

#resultsWrapper label,
#resultsWrapper input {
    border: 0px;
}

input[type="text"] {
    background-color: var(--background-search);
    border: 1px solid var(--background-search);
    border-bottom: 1px solid var(--border-search);
    font-weight: bold;
}

input.search {
    width: 100vw;
}

ul.results {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.results li {
    margin-left: 0;
    padding-left: 0;
}

li.contact {
    background-color: var(--contact-list-background);
    border-top: 1px solid var(--contact-border-top);
    border-bottom: 1px solid var(--contact-border-bottom);
    padding: .5em;
}

li.contact:hover {
    background: var(--contact-list-background-hover);
    color: var(--contact-list-text-hover);
    border-top: 1px solid var(--contact-list-border-top-hover);
    border-bottom: 1px solid var(--contact-list-border-bottom-hover);
    cursor: pointer;
}

li.selected {
    color: var(--contact-list-text-hover);
    background: var(--contact-list-background-hover);
}